<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfEk0TnsJWkMaQN9OJjWgqk7qFlVqURbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1094294113121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lab08.airbnb-clone-b</string>
	<key>PROJECT_ID</key>
	<string>airbnb-a2023-2</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-a2023-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094294113121:ios:a930f2f7f3beaa8e3dd320</string>
</dict>
</plist>